@import "tailwindcss";
@import "../public/buttons.css";
@import "../public/home.css";
@import "../public/header.css";
@import "../public/contact.css";
@import "../public/gallery.css";
@import "../public/404.css"